<div id="header_wrap" class="outer">
    <header class="inner">
      <!--{% if site.github.is_project_page %}
        <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
      {% endif %}-->

      {% include site-title.html %}

      <!--{% if site.show_downloads %}
        <section id="downloads">
          <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
          <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
        </section>
      {% endif %}-->
      
      {% include navigation.html %}
    </header>
</div>
