<div class="headerRow">
  <div class="headerColumn">
    <span class="faded faded-wide faded-all">
      <img style="width: 100%; padding: 0px;border: 0px;" src="{{ site.url }}/assets/Logo_noText.png" width="33%">
    </span>
  </div>
  <div class="headerColumn" style="color:lightcyan; font-size: 120%;">
    <strong style="color: #03989E; font-size: 150%;">N</strong>etwork for<br>
    <strong style="color: #03989E; font-size: 150%;">A</strong>gent-based modelling of<br>
    <strong style="color: #03989E; font-size: 150%;">S</strong>ocio-ecological<br>
    <strong style="color: #03989E; font-size: 150%;">S</strong>ystems in<br>
    <strong style="color: #03989E; font-size: 150%;">A</strong>rchaeology
  </div>
</div>
<!-- <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
<h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
  