<div class="headerRow">
  <div class="headerColumn" style="text-align: right;">
    <span class="faded faded-wide faded-all">
      <img style="width: 50%; padding: 0px;border: 0px;" src="{{ site.url }}{{site.baseurl}}/assets/Logo_noText.png">
    </span>
  </div>
  <div class="headerColumn" style="color:lightcyan; font-size: 100%;">
    <strong style="color: #03989E; font-size: 100%;">N</strong>etwork for<br>
    <strong style="color: #03989E; font-size: 100%;">A</strong>gent-based modelling of<br>
    <strong style="color: #03989E; font-size: 100%;">S</strong>ocio-ecological<br>
    <strong style="color: #03989E; font-size: 100%;">S</strong>ystems in<br>
    <strong style="color: #03989E; font-size: 100%;">A</strong>rchaeology
  </div>
</div>
<!-- <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
<h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
  