---
---

@import "{{ site.theme }}";

#forkme_banner{ display: none !important; }

#header_wrap > header > nav > a {
color: white;
  text-decoration: underline;
  font-size: larger;
}

#header_wrap > header > nav > a:hover {
color: gray;
}

nav {
  margin-bottom: 20px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-right: 10px;
  text-decoration: none;
}
nav ul li a {
  color: #03989E;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
  grid-gap: 10px;
}
.grid-element{
  background-color: #ddd;
  border: 1px solid;
  border-color: #666;
  text-align: center;
  padding: 15px;
}
.grid-symbol {
  text-align: center;
  font-size: 30px;
}

.authorimg{
  display: inline;
  width:32px;
  height:32px;
  object-fit:cover;
  border-radius:50%;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.headerColumn {
  float: left;
  width: 45%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.headerRow:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .headerColumn {
    width: 100%;
  }
}

/* Back to top button */
.back-to-top-button {
  transition:       all .25s ease-in-out;
  position:         fixed;
  bottom:           0;
  right:            0;
  display:          inline-flex;
  color:            #000000;
  cursor:           pointer;
  align-items:      center;
  justify-content:  center;
  margin:           0 2em 2em 0;
  border-radius:    50%;
  padding:          .25em;
  width:            2em;
  height:           2em;
  background-color: #03989E;
}