---
---

@import "{{ site.theme }}";

#forkme_banner{ display: none !important; }

#header_wrap > header > nav > a {
color: white;
  text-decoration: underline;
  font-size: larger;
}

#header_wrap > header > nav > a:hover {
color: gray;
}

nav {
  margin-bottom: 20px;
}

.authorimg{
  display: inline;
  width:32px;
  height:32px;
  object-fit:cover;
  border-radius:50%;
}
